footer.footer
    .footer__logo
        img(src="/img/logo.png", alt="Flowren logo" class='footer__logo-image')
        span.footer__logo-brand &nbsp; FLOWEREN
    ul.footer__nav
        li: a(href="#") About me
        li: a(href="#") Contact
        li: a(href="https://documenter.getpostman.com/view/10857951/T1DnjeU8?version=latest" target='_blank') Test api
        li: a(href="#") Collaborate
        li: a(href="#") Social Medias
    p.footer__copyright &copy; by Tien Vo. All rights reserved.