extends base

block content
    main.main
        .forgot-password-form
            h2.heading-secondary.ma-bt-lg Forgot my password
            form.form
                .form__group
                    label.form__label(for='email') Please declare the email you used to sign up!
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--dark-pink.btn--auth SUBMIT